<form [formGroup]="employeeForm" class="border">
  <h3>{{ title }} Employee</h3>
  <br />
  <input
    type="text"
    class="form-control"
    placeholder="Enter the Name"
    formControlName="name"
    [ngClass]="{
      'is-invalid':
        employeeForm.controls['name'].invalid &&
        (isSubmitted ||
          employeeForm.controls['name'].touched ||
          employeeForm.controls['name'].dirty),
      'is-valid':
        employeeForm.controls['name'].valid &&
        (isSubmitted ||
          employeeForm.controls['name'].touched ||
          employeeForm.controls['name'].dirty)
    }"
  />
  <div
    *ngIf="
      employeeForm.controls['name'].invalid &&
      (isSubmitted ||
        employeeForm.controls['name'].touched ||
        employeeForm.controls['name'].dirty)
    "
  >
    <span
      class="text-danger"
      *ngIf="employeeForm.controls['name'].errors?.['required']"
    >
      Enter your Name
    </span>
    <span
      class="text-danger"
      *ngIf="employeeForm.controls['name'].errors?.['minlength']"
    >
      Name should have atleast 3 characters
    </span>
  </div>
  <br />

  <div class="form-group">
    <label for="gender">Gender:</label>
    <div>
      <input
        id="male"
        type="radio"
        value="male"
        name="gender"
        formControlName="gender"
      />
      <label for="male">Male</label>
    </div>

    <div>
      <input
        id="female"
        type="radio"
        value="female"
        name="gender"
        formControlName="gender"
      />
      <label for="female">Female</label>
    </div>

    <div
      *ngIf="
        employeeForm.controls['gender'].invalid &&
        (isSubmitted ||
          employeeForm.controls['gender'].touched ||
          employeeForm.controls['gender'].dirty)
      "
    >
      <span
        class="text-danger"
        *ngIf="employeeForm.controls['gender'].errors?.['required']"
      >
        Write your Gender
      </span>
      <span
        class="text-danger"
        *ngIf="employeeForm.controls['gender'].errors?.['pattern']"
      >
        It contains only characters
      </span>
    </div>
  </div>
 
  <br />
  <input
    type="date"
    class="form-control"
    placeholder="Enter your BirthDate"
    formControlName="dob"
    [ngClass]="{
      'is-invalid':
        employeeForm.controls['dob'].invalid &&
        (isSubmitted ||
          employeeForm.controls['dob'].touched ||
          employeeForm.controls['dob'].dirty),
      'is-valid':
        employeeForm.controls['dob'].valid &&
        (isSubmitted ||
          employeeForm.controls['dob'].touched ||
          employeeForm.controls['dob'].dirty)
    }"
  />
  <div
    *ngIf="
      employeeForm.controls['dob'].invalid &&
      (isSubmitted ||
        employeeForm.controls['dob'].touched ||
        employeeForm.controls['dob'].dirty)
    "
  >
    <span
      class="text-danger"
      *ngIf="employeeForm.controls['dob'].errors?.['required']"
    >
      Enter your Date of Birth
    </span>
  </div>
  <br />
  <input
    type="text"
    class="form-control"
    placeholder="Enter your salary"
    formControlName="salary"
    [ngClass]="{
      'is-invalid':
        employeeForm.controls['salary'].invalid &&
        (isSubmitted ||
          employeeForm.controls['salary'].touched ||
          employeeForm.controls['salary'].dirty),
      'is-valid':
        employeeForm.controls['salary'].valid &&
        (isSubmitted ||
          employeeForm.controls['salary'].touched ||
          employeeForm.controls['salary'].dirty)
    }"
  />
  <div
    *ngIf="
      employeeForm.controls['salary'].invalid &&
      (isSubmitted ||
        employeeForm.controls['salary'].touched ||
        employeeForm.controls['salary'].dirty)
    "
  >
    <span
      class="text-danger"
      *ngIf="employeeForm.controls['salary'].errors?.['required']"
    >
      Enter your salary
    </span>
    <span
      class="text-danger"
      *ngIf="employeeForm.controls['salary'].errors?.['pattern']"
    >
      salary contains only numbers
    </span>
  </div>
  <br />
  <button class="btn btn-success me-4" type="submit" (click)="onSubmit()">
    Save
  </button>
  <button class="btn btn-light" type="button" (click)="onReset()">Reset</button>
</form>

<br /><br />

