
<div class="h position-relative">
  <img src="../../../assets/images/360_F_439595003_IAMa9verVv8XlT9dVDtKm7AHQw5EpRpx.jpg" alt="" class="h-100 w-100">
  <div class="container position-absolute">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2>Register</h2>
        <form [formGroup]="registerForm" >
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
            />
            <div
              *ngIf="submitted && f['firstName'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['firstName'].errors['required']">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
            />
            <div
              *ngIf="submitted && f['lastName'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['lastName'].errors['required']">
                Last Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
            />
            <div
              *ngIf="submitted && f['username'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['username'].errors['required']">
                Username is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="role">Role:</label>
            <div>
              <input
                id="male"
                type="radio"
                value="admin"
                name="role"
                formControlName="role"
              />
              <label for="male">admin </label>

              <input
                id="user"
                type="radio"
                value="user"
                name="role"
                formControlName="role"
                class="ml-2"
              />
              <label for="user">user</label>

              <div
                *ngIf="
                  f['role'].invalid &&
                  (submitted || f['role'].touched || f['role'].dirty)
                "
              >
                <span
                  class="text-danger"
                  *ngIf="f['role'].errors?.['required']"
                >
                  role is required
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
            <div
              *ngIf="submitted && f['password'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['password'].errors['required']">
                Password is required
              </div>
              <div *ngIf="f['password'].errors['minlength']">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Register
            </button>
            <a routerLink="/login" class="btn btn-link">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
